.ListFieldControl {
    padding:4px;
    border:solid 1px #999;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow-y:scroll;
}
.ListFieldControl .listWrapper{
    position:relative;
    display:block;
    overflow:auto;
}
.ItemListFieldControl{
    padding:3px;
    margin-bottom:1px;
}
.ItemListFieldControl:hover {
    background:#ddd;
    cursor:pointer;
}
.ItemListFieldControl.selected:hover {
   background:#00f;
}

.ItemListFieldControl.selected {
    background:#00f;
    color:#fff;
}

.FrameControl {
    overflow:hidden;
}