.MenuBar {    overflow:auto; border-bottom:solid 1px #ccc; background:#f0f0f0; }
.MenuButton { display:inline; float:left; height:25px; overflow:hidden; font-size:small; }
.MenuButton > .text { padding:4px 10px; height: 25px; }
.MenuButton:hover .MenuList{ display:block; }
.MenuButton.selected > .text,
.MenuButton:hover > .text{ background:#006e6e; color:#fff; cursor:pointer; }
/*.MenuButton:hover .MenuList .text{ color:#000; background:#fff; }*/
.MenuList { position:absolute; display:block; z-index:1000; background:#fff; border:solid 1px #999; padding:4px 0; box-shadow:0 0 5px #999; }
/*.MenuList .text { background:#fff !important; color:#000 !important; }*/
.MenuItem { padding:0 3px; }
.MenuItem:hover { background:#006e6e !important; color:#fff !important; cursor:pointer; }
.MenuItem.selected { background:#006e6e !important; color:#fff !important; }
.MenuItem > .icon { width:22px; display: block; }
.MenuItem > .text { height:25px; }
.MenuItem > .arrow { text-align: right; padding:0 10px; }