.Toolbar {
	height:32px;
	left:0;
	right:0;
	position:absolute;
	background: #fff;
}
.Toolbar.top {
	top: 0;
	/*border-bottom:solid 1px #CCC;*/
}
.Toolbar.top > * {
	margin-bottom: 5px;
}
.Toolbar.bottom {
	bottom: 0;
	border-top:solid 2px #dbe2e5; /* gray2 */
}
.Toolbar.bottom > * {
	margin-top: 5px;
}
.Toolbar.contentRight {
	text-align: right;
}
.Toolbar.contentRight > * {
	margin-right: 0;
	margin-left: 5px;
}
.Toolbar.contentLeft {
	text-align: left;
}
.Toolbar.contentLeft > * {
	margin-right: 5px;
	margin-left: 0;
}

.Toolbar > * {
    display:inline !important;
    position:relative !important;
	box-sizing:border-box;
	height:25px;
	padding: 3px 8px;
	margin: 0 5px 0 0;
}
.Toolbar.bottom > * {
	margin-top: 5px;
	margin-bottom: 0;
}
.Toolbar .LabelControl:first-child {padding: 3px 8px 3px 0; }

.VerticalSeparator {
	border:inset 1px;
	display:inline;
	margin:0 3px;
	width:0;
	padding:3px 0;
}