.Toolbar {
	background:#EEE;
	height:36px;
	left:0;
	right:0;
	position:absolute;
}
.Toolbar.top {
	top: 0;
	border-bottom:solid 1px #CCC;
}
.Toolbar.bottom {
	bottom: 0;
	border-top:solid 1px #CCC;
}
.Toolbar.contentRight {
	text-align: right;
}
.Toolbar.contentLeft {
	text-align: left;
}

.Toolbar > * {
    display:inline !important;
    position:relative !important;
	box-sizing:border-box;
	height:25px;
	padding: 3px 8px;
	margin: 5px 5px 5px 0;
}

.Toolbar .LabelControl:first-child {padding: 3px 8px 3px 0; }

.VerticalSeparator {
	border:inset 1px;
	display:inline;
	margin:0 3px;
	width:0;
	padding:3px 0;
}