body{
    background:#f6f6f6;
    font-family:Helvetica;
    font-size:14px;
    margin:0;
}
* {
	box-sizing: border-box;
}

.filled {
	background-color:#4285f4;
	color: #ffffff;
}
.clear {
	background-color: #ffffff;
	color:#4285f4;
}

.block, input {
	box-sizing: border-box;
	padding: 5px !important;
	margin: 5px !important;
}

.text-container {
	border:none;
	padding:8px;
	margin: 0;
}